<div class="container pt-lg-5">
 
  <form action="" class="justify-content-center">
    <div class="container">
      <div class="row  ">
        <div class="col-5">
          <div class="form-group">
            <label for="inputSiret " class="text-danger">
              <p class="font-weight-bold"><strong>Entrer votre SIRET</strong></p>
            </label>
            <input type="text" class="form-control rounded-pill" placeholder="Numéro SIRET" [(ngModel)]="siretValue"
              id="inputSiret" name="inputSiret">
            <!-- 
            <span class="help-block text-danger" *ngIf="showEnterSIRETError">Entrer votre SIRET</span>
            <span class="help-block text-danger" *ngIf="showInvalideSIRETError">Entrer les 14 chiffres du SIRET
              correctement</span> -->
          </div>
        </div>
        <div class="col align-self-end  ">
          <div class="d-flex justify-content-end ">
            <button type="submit" class="btn btn-primary rounded-pill float-right"
              (click)="onClickBtnValideSIRET()">Rechercher</button>
          </div>
        </div>
      </div>
      <div class="alert alert-danger mt-2" role="alert" *ngIf="showEnterSIRETError">Veiller entrer votre numéro SIRET </div>
      <div class="pt-3 red-text" role="alert" *ngIf="showInvalideSIRETError">Ce SIRET ne semble pas connu dans le référentiel INSEE, veuillez le vérifier 
        correctement</div>
      <div class="row ">
        <div class="row mt-5 mb-5"><span class="border-bottom"></span></div>
      </div>
      <div class="row ">
        <label for="Informations" class="text-danger">
          <p class="font-weight-bold"><strong>Informations de l'entreprise</strong> </p>
        </label>
      </div>
      <div class="row ">
        <label for="" class="text-secondary text-muted" *ngIf="!displayInfo">Veilliez saisir votre numéro de SIRET
        </label>
      </div>
      <div class="" id="divInformations" *ngIf="displayInfo">
        <div class="row ">
          <div class="col-5">
            <label for="inputRaisonSociale">Raison Sociale</label>
            <input type="text" class="form-control rounded-pill" name="inputRaisonSociale" id="inputRaisonSociale"
              placeholder="RaisonSociale" [(ngModel)]="etablissement.uniteLegale.denominationUniteLegale">
          </div>

          <div class="col-5">
            <label for="inputAPE">APE</label>
            <input type="text" class="form-control rounded-pill" name="inputAPE" id="inputAPE" placeholder="APE"
              [(ngModel)]="etablissement.uniteLegale.activitePrincipaleUniteLegale">
          </div>

          <div class="col-5">
            <label for="inputAddress">Adresse</label>
            <input type="text" class="form-control rounded-pill" name="inputAddress" id="inputAddress"
              placeholder="num rue nom rue ville" [(ngModel)]="etablissement.adresseEtablissement.totaleAdresse">
          </div>
          <div class="col-5">
            <label for="inputCodePostale">Code Postale</label>
            <input type="text" class="form-control rounded-pill" name="inputCodePostale" id="inputCodePostale"
              placeholder="" [(ngModel)]="etablissement.adresseEtablissement.codePostalEtablissement">
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col  align-self-end">
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary rounded-pill " *ngIf="displaySuivantBtn"
              (click)="onClickBtnValideInfo()">Enregistrer</button>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="row mt-5 mb-5 "><span class="border-bottom"></span></div>
      </div>

    </div>
  </form>
  <app-produit id="produitComponent" [entrepriseCreated]="entreprise" *ngIf="displayProduit"></app-produit>

</div>