<div class="container">
  <form class=" justify-content-center" #form="ngForm" (ngSubmit)="checkedBox(form.value)">
    <div class="row ">
      <label for="Informations" class="text-danger ">
        <p class="font-weight-bold"><strong>Nos Produits</strong></p>
      </label>
    </div>
    <div class="row ">
      <div class="col-5">
        <input #checkboxSante type="checkbox" [ngModel]="false" id="checkboxSante" name="checkboxSante">
        <label class="form-check-label" for="flexCheckSante" id="labelCheckSante" name="labelCheckSante">Assurance
          Santé</label>
      </div>
      <div class="col-5">
        <input #checkboxPrevoyance type="checkbox" [ngModel]="false" id="checkboxPrevoyance" name="checkboxPrevoyance">
        <label class="form-check-label" for="flexCheckPrevoyance" id="labelCheckPrevoyance"
          name="labelCheckPrevoyance">Assurance Prévoyance </label>
      </div>
      <div class="col  align-self-end">
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-primary rounded-pill ">valider</button>
        </div>
      </div>
    </div>
    <div class="alert alert-danger mt-2" role="alert" *ngIf="displayNoProduct">Veuilliez choisir au moins un produit</div>

    <div class="row ">
      <div class="row mt-5 mb-5 "><span class="border-bottom"></span></div>
    </div>
  </form>
  <app-question-avant-vente id="questionComponent" [entrepriseCreated]="entreprise" *ngIf="showQuestions">
  </app-question-avant-vente>
</div>