<div class="container">
    <form class=" justify-content-center">
      <div class="row ">
        <label for="Informations" class="text-danger "><p class="font-weight-bold">Nos produits</p></label>
      </div>
      <div class="row ">
        <div class="col-5">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckSante"checked>
             <label class="form-check-label" for="flexCheckSante">Assurance Santé</label>
          </div>
          <div class="col-5">            
            <input class="form-check-input" type="checkbox" value="" id="flexCheckPrevoyance">
            <label class="form-check-label" for="flexCheckPrevoyance">Assurance Prévoyance </label>
                
          </div>

      </div>

</form>
</div>      