<div class="container">
  <form class=" justify-content-center">
    <div class="row ">
      <label for="Informations" class="text-danger"><p class="font-weight-bold">Informations de l'entreprise</p></label>
    </div>
    <div class="row">
      <label for="" class="text-danger">Veilliez saisir votre numéro de SIRET </label>
    </div>


    <div class="row ">
      <div class="col-5">
        <label for="inputRaisonSociale">Raison Sociale</label>
        <input type="text" class="form-control rounded-pill" id="inputRaisonSociale" placeholder="RaisonSociale">
      </div>
      <div class="col-5">            <label for="inputAPE">APE</label>
            <input type="text" class="form-control rounded-pill" id="inputAPE" placeholder="APE">
   
            
      </div>  
  </div>
  <div class="row justify-content-between">
    <div class="col-5">
      <label for="inputAddress">Addresse</label>
      <input type="text" class="form-control rounded-pill" id="inputAddress" placeholder="num rue nom rue ville">
    </div>
    <div class="col-5">
      <label for="inputCodePostale">Code Postale</label>
        <input type="text" class="form-control rounded-pill" id="inputCodePostale">
    </div>
    <div class="col align-self-end ">  
      <button type="submit" class="btn btn-primary rounded-pill ">suivant</button>
      </div>
  </div> 
  
  </form>
</div>