<div class="container">
    <form class=" justify-content-center">
        <div class="row " >
            <label for="Question" class="text-danger ">
                <p class="font-weight-bold"><strong>Personalisez Votre Offre</strong></p>
            </label>
        </div>
        <div class="row ">
            <label for="" class="text-secondary text-muted" >Plus vous répondez, plus vous en profitez
            </label>
          </div>
          <div class="row " style="border:text-muted">
            
          </div>
    </form>
</div>