<div class="container">
    <form class=" justify-content-center" >
        <div class="row ">
            <label for="Question" class="text-danger ">
                <p class="font-weight-bold"><strong>Personalisez Votre Offre</strong></p>
            </label>
        </div>
        <div class="row ">
            <label for="" class="text-secondary text-muted">Plus vous répondez, plus vous en profitez
            </label>
        </div>
        <div class="row "> </div>
        <div class="row ">
            <div>
                <div *ngFor="let question of listQuestions; ">
                    <p><br></p>
                    <span>{{ question.enonce}} </span>
                    <div *ngFor="let reponse of question.reponses; ">
                        <input  type="checkbox" [(ngModel)]="reponse.checked" id="checkboxResponse"
                            name="checkboxResponse">
                        <span>{{ reponse.enonce}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col  align-self-end">
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary rounded-pill " (click)="valider()">valider</button>
            </div>
        </div>
        <div class="row ">
            <div class="row mt-5 mb-5 "><span class="border-bottom"></span></div>
        </div>
    </form>
    <app-offre id="offreComponent"  [idEntreprise]="entreprise.idEntreprise" *ngIf="showOffre">
    </app-offre>
</div>