<div class="container">

    <nav class="navbar navbar-expand bg-light rounded-pill ">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="siret">
                    <img src="https://icons.getbootstrap.com/assets/icons/search.svg" width="30" height="30"
                        class="d-inline-block align-top" alt="">  informations générales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="siret#produitComponent">
                    <img src="https://icons.getbootstrap.com/assets/icons/folder-plus.svg" width="30" height="30"
                    class="d-inline-block align-top" alt="">  produits et questions</a>
                    <!-- /src/app/features/adhesion-entreprise/siret-validation/siret-validation.component.html#produitComponent
-->
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img src="https://icons.getbootstrap.com/assets/icons/folder-plus.svg" width="30" height="30"
                        class="align-top" alt="">  offres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img src="https://icons.getbootstrap.com/assets/icons/folder-check.svg" width="30" height="30"
                        class="align-top" alt="">  contrat</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img src="https://icons.getbootstrap.com/assets/icons/check2-square.svg" width="30" height="30"
                        class="align-top" alt="">  validation</a>
            </li>
        </ul>
    </nav>
</div>