<div class="container">

 
    <accordion>
        <accordion-group heading="Garanties" panelClass="customClass">
            <accordion-group   heading="optique"  panelClass="customClass2">
                accordion 1-1
            </accordion-group>
            <accordion-group   heading="dentaire" panelClass="customClass2">
                accordion 1-2
            </accordion-group>
        </accordion-group>
       
        <accordion-group heading="Structure de cotisation" panelClass="customClass">
            <accordion-group   heading="accordion 2-1" panelClass="customClass2">
                accordion 2-1
            </accordion-group>
        </accordion-group>
    </accordion>

    <button type="submit" class="btn btn-primary rounded-pill " (click)="onClickBtnTarifs()">tarifs</button>




</div>