/* You can add global styles to this file, and also import other style files */
.customClass{
    
    border-top-right-radius: 10px;

    border-top-left-radius: 10px;
    background-color: #99ccff;
    color: rgb(250, 250, 250) !;

}
.customClass2{

    background-color: white;
    color: black;

}
.card-body {
    padding: 0px !important;
}
.red-text {
    color: red;
}




