/* You can add global styles to this file, and also import other style files */
.customClass{
    border-radius: 50px;
    background-color: #99ccff


}
.customClass2{
    border-radius: 50px;
    background-color: white

}





